
::selection
{

    background-color: black;
    color: white;
}

body
{
    font-family: 'Inter', sans-serif;
}

header
{
    background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.7), rgba(0,0,0,0.9), rgba(0,0,0,1));

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main
{
    background-image: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.96), rgba(255,255,255,0.92), rgba(255,255,255,0.88), rgba(255,255,255,0.78), rgba(255,255,255,0.58));

    width: 60%;
    padding: 40px 60px;
    border-radius: 20px;
    padding-bottom: 20px;

}


.head-left i
{
    font-size: 30px;
    color: black;
}

.head-right-content h2
{
    color: black;
    font-size: 22px;
    font-weight: 700;

    margin-bottom: 1px;
}

.head-right-content h4
{
    font-size: 18px;
    color: #8E8E8E;
    font-weight: 400;
}

.icon
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #1DA1F2;
    color: white;
}

.t-body p
{
    color: black;
    font-size: 17px;
    font-weight: 400;
    margin-top: 35px;
}

.t-foot
{
    color: #8E8E8E;
    font-weight: 500;
    padding-top: 15px;
}

.t-foot span
{
    color: #1DA1F2;
}

button
{

    padding: 30px 60px;
    border-radius: 13px;
    background-color: #1DA1F2;
    border-style: none;
    margin-top: 30px;

    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.5s;
}

button:hover
{
    background-color: #2a5c7a;
}

button i
{
    transition: all 0.5s;
}

button:hover i
{
    transform: translateY(-4px);

}

@media screen and (max-width: 900px) and (min-width: 501px)
{

   .head-right-img img{
    width: 200%;
   }
  
}



@media screen and (max-width: 500px)
{

    .main
{
    
    padding: 10px 20px;


}

.head-right-img img{
    width: 130%;
}


.icon
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #1DA1F2;
    color: white;
    margin-top: 5px;
}

.icon i{
    font-size: 10px;
    padding: 5px;
}

.head-left i
{
    font-size: 15px;
}

.head-right-content h2
{

    font-size: 18px;

    margin-top: 3px;

}

.head-right-content h4
{
    font-size: 14px;
}

    .head-right
    {

        width: 25%;
    }

    .head-left
    {
        width: 25%;
    }

    .t-body p
    {

        font-size: 15px;
        margin-top: 10px;
    }

    .t-foot p{

        font-size: 10px;
    }

    button{

        padding: 20px 20px;
    }
}